{% macro load_pagination_styles() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
{% endmacro %}

{% macro pagination(endpoint, start, end, current_page, last_page) %}
<ul class="pagination">
    {% if current_page != 1 %}
    <li><a href="{{ url_for(endpoint, page=current_page - 1) }}" class="page">&lt Prev</a></li>
    {% endif %}

    {% for page in range(start, end + 1) %}
    <li><a href="{{ url_for(endpoint, page=page) }}" 
        class="page {% if page == current_page %}inactive{% endif %}">{{ page }}</a></li>
    {% endfor %}

    {% if current_page != last_page %}
    <li><a href="{{ url_for(endpoint, page=current_page + 1) }}" class="page">Next &gt</a></li>
    {% endif %}
</ul>
{% endmacro %}

