{% macro load_table_styles() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endmacro %}

{% macro table(
    title, 
    data, 
    i=None, i_endpoint=None, i_query='', 
    j=None, j_endpoint=None, j_query='') %}
<p>&nbsp;{{ title }}</p>
<table>
    <tr>
        {% for key in data['keys'] %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for item in data['items'] %}
    <tr>
        {% for key in data['keys'] %}
            {% if i and key == data['keys'][i-1] %}
                {% if i_query %}
                    <td><a href="{{ request.path + '?' + i_query + '=' + item[key] }}">{{ item[key] }}</a></td>
                {% else %}
                    <td><a href="{{ url_for(i_endpoint, id=item[key]) }}">{{ item[key] }}</a></td>
                {% endif %}
            {% elif j and key == data['keys'][j-1] %}
                {% if j_query %}
                    <td><a href="{{ request.path + '?' + j_query + '=' + item[key] }}">{{ item[key] }}</a></td>
                {% else %}
                    <td><a href="{{ url_for(j_endpoint, id=item[key]) }}">{{ item[key] }}</a></td>
                {% endif %}
            {% else %}
                <td>{{ item[key] }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}