{% extends 'layouts/base.html' %}
{% from 'components/table.html' import table, load_table_styles %}

{% block styles %}
{{ load_table_styles() }}
{% endblock %}

{% block content %}
<main>
    {{ table('Item Info', item) }}
    {{ table('Monthly Revenue', month_rev) }}
    <div><br><canvas id="revChart" data-chart='{{ month_rev|tojson }}'></canvas><br></div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('revChart');
    const dataList = JSON.parse(ctx.dataset.chart)['items'];

    new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Item Count',
                data: dataList.map(data => data['Item Count']),
                borderColor: 'rgb(89, 99, 110)',
                backgroundColor: 'rgb(89, 99, 110)',
                borderWidth: 2, 
                yAxisID: 'y2',  
                order: 1
            }, {
                label: 'Total Revenue',
                data: dataList.map(data => data['Total Revenue']),
                type: 'bar',
                backgroundColor: 'rgb(253, 140, 115)',
                yAxisID: 'y1',  
                order: 2
            }],
            labels: dataList.map(data => data['Month'])
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false 
                    },
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    title: {
                        display: false
                    },
                },
                y2: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    title: {
                        display: false
                    },
                    grid: {
                        drawOnChartArea: false
                    },
                }
            },
        }
    });
</script>
{% endblock %}