{% extends 'layouts/base.html' %}
{% from 'components/table.html' import table, load_table_styles %}

{% block styles %}
{{ load_table_styles() }}
{% endblock %}

{% block content %}
<main>
    {{ table('Store Info', store) }}
    {% if month %}
        {{ table(
            title='Daily Revenue', 
            data=day_rev) }}
        {{ table(
            title='Regular Customer', 
            data=month_regular, 
            i=1, i_endpoint='user.user_detail') }}
    {% else %}
        {{ table(
            title='Monthly Revenue', 
            data=month_rev, 
            i=1, i_endpoint='store.store_detail', i_query='month') }}
        {{ table(
            title='Regular Customer', 
            data=regular, 
            i=1, i_endpoint='user.user_detail') }}
    {% endif %}
</main>
{% endblock %}