.search {
    width: 100%;
    display: flex;  
    align-items: center;  
    justify-content: end;
    gap: 10px;     
}

.search input {
    width: 200px;
    height: 32px;
    border: 1px solid rgb(209, 217, 224);
    border-radius: 4px;
    padding: 12px;
}   

.search select {
    width: 90px;
    height: 32px;
    border: 1px solid rgb(209, 217, 224);
    border-radius: 4px;
    color: rgb(37, 41, 46);
    background-color: rgb(246, 248, 250);
    font-weight: 500;
    padding-left: 12px; 

    outline: none;

    appearance: none; 
    -webkit-appearance: none; 

    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4.5L6 8L9.5 4.5' stroke='%23666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
} 

