{% extends 'layouts/base.html' %}
{% from 'components/table.html' import load_component_styles %}

{% block styles %}
{{ load_component_styles() }}
{% endblock %}

{% block content %}
    <main>
        <div class="user-table-container"></div>
        <div class="order-table-container"></div>
        <div class="go-to-container"></div>
    </main>
    
    <script src="/static/js/components/table.js"></script>
    <script>
        const id = window.location.pathname.split('/')[3];

        async function fetchUser() {
            await fetch(`/api/users/userinfo/${id}`)
                .then(response => response.json())
                .then(user => {
                        const userData = {
                            keys: ['Name', 'Gender', 'Age', 'Birthdate', 'Address'],
                            items: user
                        };

                        const table = new Table('User Info', userData);

                        document.querySelector('.user-table-container').innerHTML = table.render();
                    })
        }

        async function fetchOrder() {
            await fetch(`/api/users/orderinfo/${id}`)
                .then(response => response.json())
                .then(orders => {
                        const orderData = {
                            keys: ['OrderId', 'OrderAt', 'StoreId'],
                            items: orders
                        };

                        const table = new Table('Order Info', orderData, {
                            linkColumn: ['OrderId', 'StoreId'],
                            baseUrl: ['/orderitems/detail', '/stores/detail']
                        });

                        document.querySelector('.order-table-container').innerHTML = table.render();
                    })
        }
        
        fetchUser();
        fetchOrder()
    </script>
{% endblock %}