{% extends 'layouts/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block content %}
<main>
    <div id="tableContainer"></div>
</main>
    
    <script src="/static/js/components/table.js"></script>
    <script>
        async function fetchUsers() {
            // const response = await fetch('/api/users');
            // const users = await response.json();
            
            const userData = {
                keys: ['ID', '이름', '이메일'],
                // items: users
                items: ['a', 'b', 'ccc']
            };

            const table = new Table('User', userData, {
                linkColumn: 'ID',
                baseUrl: '/users'
            });

            document.querySelector('#tableContainer').innerHTML = table.render();
        }

        fetchUsers();
    </script>
{% endblock %}