{% extends 'layouts/base.html' %}
{% from 'components/table.html' import load_component_styles %}

{% block styles %}
{{ load_component_styles() }}
{% endblock %}

{% block content %}
    <main>
        <div class="users-table-container"></div>
        <div></div>
        <div class="user-table-container"></div>
        <div class="order-table-container"></div>
    </main>
    
    <script src="/static/js/components/table.js"></script>
    <script>
        async function fetchUsers() {
            await fetch('/api/users')
                .then(response => response.json())
                .then(users => {
                        const userData = {
                            keys: ['Id', 'Name', 'Gender', 'Age', 'Birthdate'],
                            items: users
                        };

                        const table = new Table('User', userData, {
                            linkColumn: ['Id'],
                            baseUrl: ['/users/detail']
                        });

                        document.querySelector('.users-table-container').innerHTML = table.render();
                    })
        }

        fetchUsers();
    </script>
{% endblock %}