{% extends 'layouts/base.html' %}
{% from 'components/table.html' import load_component_styles %}
{% from 'components/pagination.html' import load_styles %}

{% block styles %}
{{ load_component_styles() }}
{{ load_styles() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="search-container"></div>
        <div class="users-table-container"></div>
        <div class="pagination-container"></div>
    </main>
    
    <script src="/static/js/components/table.js"></script>
    <script src="/static/js/components/pagination.js"></script>
    <script src="/static/js/components/search.js"></script>
    <script>
        document.querySelector('.search-container').innerHTML = renderSearch();

        async function fetchUsers() {
            let url = '/api/users';
            
            if (window.location.search) {
                url += window.location.pathname.split('/users')[1] 
                        + window.location.search; 
            }   
            else if (window.location.pathname.split('/')[2]) {
                url += '/' + window.location.pathname.split('/')[2];
            }

            const response = await fetch(url);
            const data = await response.json();
            
            const userData = {
                keys: ['Id', 'Name', 'Gender', 'Age', 'Birthdate'],
                items: data['users']
            };

            const table = new Table('User', userData, {
                linkColumn: ['Id'],
                baseUrl: ['/users/detail']
            });

            document.querySelector('.users-table-container').innerHTML = table.render();

            const pageData = data['pagination'];
            const pagination = new Pagination(
                pageData['start'], 
                pageData['end'], 
                pageData['current_page'], 
                pageData['last_page']
            );

            document.querySelector('.pagination-container').innerHTML = pagination.render();
        }

        fetchUsers();
    </script>
{% endblock %}